.btn {
    font-family: "Satoshi", sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 24px;
}

.btn-primary {
    color: black;
    background-color: white;
    border-color: black;
}

.btn-info {
    color: black;
    background-color: white;
    border-color: black;
}

.btn-warning {
    color: black;
    background-color: white;
    border-color: black;
}

.btn-wrapper {
    margin-right: 5px;
}

.btn:hover, .btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active:active {
    color: white;
    background-color: rgba(0, 31, 14, 0.95);
    border: 1px solid rgba(0, 31, 14, 0.95);
}

.navbar-brand {
    font-weight: 600;
    margin-right: 20px;
}

.nav-link {
    font-weight: 600;
}

.nav-link:hover {
    color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 810px) {
    .btn-wrapper {
        margin-bottom: 5px;
    }
}