.page {
    height: 100vh;
}

h1 {
    text-align: center;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
}

h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.4);
}

h4{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 23px;
    color: #D95E32;
}

h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 23px;
}

h6 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
}

.header-block {
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
}

.line {
    box-sizing: border-box;
    margin-top: -1.2em;
    margin-left: -33%;
    border: .3px solid rgba(0, 0, 0, 0.4);;
    transform: matrix(100%, 0, 0, -1, 0, 0);
}

.bottom-block {
    margin-top: 2em;
    width: 100%;
    text-align: center;
    background: white;
}

.sign-up-text {
    text-align: center;
}

.sign-in-option-prompt {
    text-align: center;
    margin-top: -2.4em;
}

.sign-in-option-prompt li {
    display: inline-block;
    padding: .5em;
}

.firstname-text {
    width: 24%;
    margin-left: 25%;
    margin-bottom: -2.5em;
    text-align: left;
    background: white;
    border-radius: 14px;
}

.lastname-text {
    width: 24%;
    margin-left: 51%;
    margin-top: -2em;
    text-align: left;
    background: white;
    border-radius: 14px;
}

.firstname-input {
    width: 24%;
    height: 2em;
    margin-left: 25%;
    margin-top: -1em;

    background: rgba(217, 217, 217, 0.67);
    border-radius: 14px;
}

.lastname-input {
    width: 24%;
    height: 2em;
    margin-left: 51%;
    margin-top: -2em;
    background: rgba(217, 217, 217, 0.67);
    border-radius: 14px;
}

.username-text {
    text-align: left;
    margin-left: 25%;
}

.username-input {
    width: 50%;
    height: 2em;
    margin-left: 25%;
    margin-top: -.8em;
    background: rgba(217, 217, 217, 0.67);
    border-radius: 14px;
}

.password-text {
    text-align: left;
    margin-left: 25%;
}

.password-input {
    width: 50%;
    height: 2em;
    margin-left: 25%;
    margin-top: -.8em;
    background: rgba(217, 217, 217, 0.67);
    border-radius: 14px;
}

.sign-up-btn {
    width: 30%;
    height: 2em;
    margin-left: 35%;
    background: #538C51;
    border-radius: 69px;
}