.page {
  height: 100vh;
}

h2 {
  text-align: center;
  color: grey;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.header-block {
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
}

.bottom-block {
  margin-top: 2em;
  width: 100%;
  background: white;
}
