.page {
  height: 100vh;
}

h1 {
  text-align: center;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

h2 {
  text-align: center;
  color: grey;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

h3 {
  text-align: center;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.header-block {
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
}

.line {
  box-sizing: border-box;
  margin-top: -1.2em;
  margin-left: -33%;
  border: 0.3px solid rgba(0, 0, 0, 0.4);
  transform: matrix(100%, 0, 0, -1, 0, 0);
}

.bottom-block {
  margin-top: 2em;
  width: 100%;
  background: white;
}

.functionality-header {
  text-align: center;
}

.functionality-text {
}
