#register-header {
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

#register-header {
  text-align: center;
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
  font-size: 42px;
  letter-spacing: -0.1px;
  margin-bottom: 2px;
}

#register-question {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: black;
  letter-spacing: -0.3px;
}

#register-login-prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#register-login-prompt p {
  display: inline-block;
  margin-bottom: 0px;
}

.register-redirect {
  display: inline-block;
  margin-left: 7px;
  
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.1px;
  text-decoration: none;
  color: black;
}

.register-redirect:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.8);
}
