.page {
  height: 100vh;
}

#login-header {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.form-parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-block {
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
}

.sign-in-text {
  text-align: center;
}

.sign-up-option-prompt {
  text-align: center;
  margin-top: -2.4em;
}

.sign-up-option-prompt li {
  display: inline-block;
  padding: 0.5em;
}

.username-text {
  text-align: left;
  margin-left: 25%;
}

.username-input {
  width: 50%;
  height: 2em;
  margin-left: 25%;
  margin-top: -0.8em;
  background: rgba(217, 217, 217, 0.67);
  border-radius: 14px;
}

.password-text {
  text-align: left;
  margin-left: 25%;
}

.password-input {
  width: 50%;
  height: 2em;
  margin-left: 25%;
  margin-top: -0.8em;
  background: rgba(217, 217, 217, 0.67);
  border-radius: 14px;
}

.sign-in-btn {
  width: 30%;
  height: 2em;
  margin-left: 35%;
  background: #538c51;
  border-radius: 69px;
}
