.page {
  height: 100vh;
}

h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 47px;
}

h5 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 23px;
}

h6 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
}

.header-block {
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
}

.sign-in-text {
  text-align: center;
}

.sign-up-option-prompt {
  text-align: center;
  margin-top: -2.4em;
}

.sign-up-option-prompt li {
  display: inline-block;
  padding: 0.5em;
}

.username-text {
  text-align: left;
  margin-left: 25%;
}

.username-input {
  width: 50%;
  height: 2em;
  margin-left: 25%;
  margin-top: -0.8em;
  background: rgba(217, 217, 217, 0.67);
  border-radius: 14px;
}

.password-text {
  text-align: left;
  margin-left: 25%;
}

.password-input {
  width: 50%;
  height: 2em;
  margin-left: 25%;
  margin-top: -0.8em;
  background: rgba(217, 217, 217, 0.67);
  border-radius: 14px;
}

.sign-in-btn {
  width: 30%;
  height: 2em;
  margin-left: 35%;
  background: #538c51;
  border-radius: 69px;
}
