.delbutton button {
    background-image: url(../icons/trash-can.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 50px;
    width: 200px;
    border: none;
}

button span {
  display: none;
}