

table{
    font-size: 1rem;
    
    
    
}

tr{
    border-top: 1px solid gray;
    

}
  
table, th, td {

    padding: 1em;
    width:100%;
}


button{
    
    border: solid 1px gray;
    border-radius: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


.CartHeader
{
    background: white;
    width: 100%;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.4em;

    border: solid 1px gray;
    
    border-radius: 0.3em 0.3em 0 0;
    
    
}

.CartHeader:hover
{
    background: white;
    color: black;
    border: solid 1px gray;
}



.CartTable{
  border: solid 1px gray;
  border-radius: 0 0  0.8em 0.8em;
  border-top: none;
}