.page {
  height: 100vh;
}

h2 {
  color: white;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 35px;
}

h3 {
  color: #afbf73;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  padding-top: 0.05em;
}

h5 {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

h6 {
  color: #538c51;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

h8 {
  color: #d95e32;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.app-block {
  margin-top: 0.2em;
  width: 100%;
  height: 20em;
  text-align: center;
  background: #afbf73;
}

.app-block-slogan-wrapper {
  margin-top: 0.2em;
  padding-top: 5em;
  width: 100%;
  text-align: center;
  background: #afbf73;
}

.app-header-block {
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
}

.app-header-block {
  margin-bottom: 1em;
  width: 100%;
}

.app-header-block li {
  display: inline-block;
}

.app-bottom-block {
  margin-top: 17em;
  width: 100%;
  text-align: center;
  background: white;
}

/* .sign-in-up {
  margin-top: -35px;
  margin-left: 70%;
}
.sign-in-up li {
  display: inline-block;
  padding-left: 10%;
}

.sign-in-style {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

.sign-up-style {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: white;
  text-decoration: none;
} */

/* .app-sign-in-text { */
/* Sign In btn */
/* margin-left: 58%;
  margin-top: -1.2em;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
} */

/* .app-sign-up-button {
  /* Sign Up btn */
/* width: 5em;
  height: 1.2em;
  margin-left: 88.15%;
  margin-top: -2.1em;

  background: #538c51;
  border-radius: 25px;
} */

.app-slogan-text {
  /* Group shopping made easy */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 56px;
  color: #ffffff;
}

.learn-more {
  text-align: center;
  margin-right: 40px;
}

.learn-more li {
  display: inline-block;
}

.learn-more-style {
  color: #afbf73;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.app-learn-more-button {
  /* Learn More */
  width: 20%;
  height: 7%;
  margin-left: 40%;
  margin-top: -36px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.app-background {
  background: #f5f5f5;
}

.app-how-it-works-text {
  /* How it works */
  margin-top: -13em;
  text-align: center;
}

.app-how-it-works-subtext1 {
  /* Sign Up */
  margin-top: 1em;
  text-align: left;
  margin-left: 20%;
}

.app-how-it-works-arrow1 {
  /* Arrow 1 */
  box-sizing: border-box;
  margin-top: -0.5em;
  margin-left: -33%;

  border: 1px solid #000000;
  transform: matrix(0.05, 0, 0, -1, 0, 0);
}

.arrow {
  /* Arrow Head */
  margin-bottom: 5em;
  margin-left: -26%;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg) translate(0, -1em);
  -webkit-transform: rotate(-45deg) translate(0, -0.5em);
}

.app-how-it-works-subtext2 {
  /* Create a GroupCart */
  margin-top: -6.5em;
  margin-left: 0%;
}

.app-how-it-works-arrow2 {
  /* Arrow 1 */
  box-sizing: border-box;
  margin-top: -0.5em;
  margin-left: 30.5%;
  padding-left: 0.3em;
  border: 1px solid #000000;
  transform: matrix(0.1, 0, 0, -1, 0, 0);
}

.arrow2 {
  /* Arrow Head */
  margin-bottom: 5em;
  margin-left: 38%;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg) translate(0, -1em);
  -webkit-transform: rotate(-45deg) translate(0, -0.5em);
}

.app-how-it-works-subtext3 {
  /* Start Shopping! */
  margin-top: -6.6em;
  text-align: left;
  margin-left: 73.5%;
}
