

h1{
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
    
}

.header{
    
    padding: 0.2em;
    background: white;
   
   
    text-align: center;
   
    border-bottom: 1px solid rgb(200,200,200) ;
}


.column {
    float: left;
    width: 50%;
  }
  


.left{
  
    width: 40%;
    
    
}
.right{
    
    background-color: white;
    width: 60%;
    outline: 1px solid rgb(200,200,200);
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.group-container{
    
    padding-left: 2em;
    padding-top: 0.4em;
    background-color: white;
    border-top: 1px solid rgb(200,200,200);
}

.overview-container{
    font-size: smaller;
    background-color:white;
    padding: 0.1em;
    margin-left: 2.5em;
  
}


.list-container{
    
    
    padding: 1.5em;
    background: white;
    border-radius: 0.8em;
    border: 1px solid rgb(200,200,200);
    margin-right: 4em;
   
    
}


.input{
    background-color: red;
}



.find-container{
    margin-top: 2em;



}