.list-container {
  width: 90%;
}

.order-style {
  text-decoration: none;
  color: black;
}

thead th {
  font-family: Inter;
  font-weight: 600;
  text-align: left;
  padding-right: 20px;
}

tr td {
  padding-right: 20px;
}

tr .btn-delete {
  color: #000d73;
  background-color: #c9daff;

  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;

  border-radius: 5px;
  border: 0px;
  padding: 7px;

  cursor: pointer;
}

tr .btn-delete:hover {
  opacity: 0.8;
}
